<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
        <h2 class="mb-5">Formação Acadêmica</h2>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">PUC Minas - Pontifícia Universidade Católica de Minas Gerais</h3>
                <div class="subheading mb-3">Pós-Graduação: Arquitetura de Software Distribuído</div>
                <div>
                    O curso foi concebido de modo a buscar o preenchimento de uma lacuna na formação avançada dos profissionais de informática que atuam na concepção, construção e implantação de sistemas de informação que usam aspectos de arquitetura de software distribuído. O curso justifica-se pela crescente adoção de tecnologias e padrões baseados na Internet, pela demanda por aplicações em dispositivos móveis bem como pela necessidade de armazenamento, processamento e integração de grandes volumes de informação que têm incentivado a proliferação de sistemas de informação desenvolvidos em arquiteturas distribuídas. Em particular, destacam-se o crescimento da demanda por aplicações móveis, o fenômeno da computação em nuvem (cloud computing), o uso da Arquitetura Orientada a Microsserviços, as diversas alternativas para integração de aplicações e novas arquiteturas para tratamento do conceito de Big Data.
                    <br /><br />
                    - Mostrar a importância da arquitetura de software distribuído no contexto corporativo bem como no contexto do processo de desenvolvimento de software;
                    <br />
                    - Fornecer uma ampla visão sobre os conceitos relacionados à arquitetura de software e dos processos de engenharia de software que orientam a definição da arquitetura;
                    <br />
                    - Proporcionar conhecimentos e competências aos participantes em técnicas, ferramentas e tecnologias para o desenvolvimento de requisitos arquiteturais necessários à construção de software e para modelar e documentar arquiteturas de software;
                    <br />
                    - Capacitar o participante para propor soluções para integrar softwares distribuídos do ponto de vista de banco de dados, gerenciamento de processos de negócio (BPM) e Microsserviços;
                    <br />
                    - Fornecer elementos básicos sobre tecnologias para computação móvel, computação em nuvem, banco de dados na web, .NET e JEE e explicitar componentes básicos para uma arquitetura de software distribuído  que usa tais tecnologias;
                    <br />
                    - Capacitar o participante para redefinir arquiteturas de softwares legados ou integrá-los à aplicativos modernos considerando novas tecnologias;
                    <br />
                    - Identificar e discutir conceitos emergentes relacionados à arquitetura de software distribuído e verificar seus impactos em novos projetos.
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Março 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Universidade Nove de Julho - UNINOVE</h3>
                <div class="subheading mb-3">CURSO: Tecnologia em Banco de Dados</div>
                <div>
                    Formação em tecnólogo de banco de dados prepara o profissional para atuar em empresas de
                    todos os portes e ramos de negócio, exercendo funções que envolvem a modelagem ou
                    o projeto do banco de dados, a implementação das bases de dados em servidores e
                    a administração de todo o sistema de gerenciamento de dados da empresa.
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Julho 2015 - Dezembro 2018</span>
            </div>
        </div>
        <br>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Universidade Paulista - UNIP</h3>
                <div class="subheading mb-3">CURSO: Bacharel em Sistemas de Informação</div>
                <div>
                    Formação focada principalmente para o desenvolvimento e manutenção de sistemas de informação
                    voltados à administração dos dados organizacionais. Capturando, armazenando e tratando-os
                    segundo os critérios estabelecidos pelos processos vigentes na organização
                    como ferramenta de apoio às áreas operacional, tática e estratégica da empresa.
                    Para isso, deve estar familiarizado com metodologias adequadas para o desenvolvimento de sistemas
                    e para a gestão de projetos, de acordo com as necessidades organizacionais e os recursos tecnológicos
                    disponíveis, visando a melhoria do desempenho da eficiência, da racionalização e da redução de custos
                    dos serviços administrativos
                </div>
                <!-- <p>GPA: 3.23</p>
                -->
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Fevereiro 2011 - Dezembro 2014</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Senac</h3>
                <div class="subheading mb-3">CURSO: Técnico em Informática </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Fevereiro 2009 - Dezembro 2010</span>
            </div>
        </div>
    </div>
</section>