

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">
            Gisioná Costa
            <span class="text-primary">Souza</span>
        </h1>
        <div class="subheading mb-5">
            São Paulo, SP, (11) 97951-0575,
            <a href="mailto:name@email.com">gil-real@hotmail.com</a>
        </div>
        <p class="mb-5">
            Pai da pequena Alice.
            <br />
            MCP - Microsoft Certified Professional, MS - Microsoft Specialist C# e SQL Server, líder de equipe, desenvolvedor apaixonado por tecnologia e por minha profissão, não me imagino fazendo outra coisa, pois me divirto muito com o que faço.
            <br />
            Profissional com mais de 6 anos de atuação no mercado de desenvolvimento de software para os mais
            diversos segmentos. Destaco alguns nas áreas de previdência privada, seguradoras, bancos, PDV para clínicas veterinárias e petshops.
            <br />
            Iniciei em .NET em 2009 quando comecei estudar lógica de programação no curso técnico de informática no SENAC-SP e permaneço até hoje desenvolvendo nessa plataforma.
            <br><br>
            ■	Experiência em desenvolvimento de sistemas e suporte aos sistemas em produção (utilizando linguagem C#, Java, Asp .Net WebForms e MVC,
            banco de dados em SQL Server e Oracle).
            <br>
            ■	Conhecimento avançado nas linguagens de banco de dados T-SQL, PL-SQL, bem como: Criação de stored procedures, criação de tabelas, views, functions, índices entre outros).
            <br>
            ■	Conhecimento avançado no desenvolvimento de software com as linguangens de programação C#, HTML5, CSS3, Asp.Net WebForms e MVC, JavaScript, JQuery).
            <br>
            ■	Conhecimento em modelagem de dados, normalização e padrões de projetos.
            <br>
            ■	Ótima interação com a equipe com objetivo de propor sempre as melhores soluções de problemas ou melhorias nos sistemas legados.
            <br>
            ■	Perfil responsável, criativo, pró-ativo, facilidade em aprender novas atividades e responsabilidades.
            <br>
        </p>
        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/gil.real">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/gision%C3%A1-costa-de-souza-7620b373/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Gisiona">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>