<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Linguagem de programação e ferramentas</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-dotnet"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-visualstudio"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-angular"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-npm"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-windows"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-github"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-java"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-trello"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-webplatform"></i>
            </li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Desenvolvimento de aplicações para Windows e Web.
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Desenvolvimento de WebServices (APIs).
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                SQL Server, PL-SQL - Oracle
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                C#, Asp.Net MVC, Asp.Net Core, Entity Framework Core
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Single Pages Application, Design Responsivo
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Desenvolvimento Agil &amp; Scrum
            </li>
        </ul>
    </div>
</section>