<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="treinamento">
    <div class="my-auto">
        <h2 class="mb-5">Cursos e Treinamentos</h2>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Desenvolvimento de Interfaces Web, com HTML5, CSS3 e Javascript</h3>
                <div class="subheading mb-3">IME-USP</div>
                <div>
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Julho 2015 - Dezembro 2018</span>
            </div>
        </div>
        <br>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Desenvolvimento Web com ASP.NET MVC</h3>
                <div class="subheading mb-3">K19 Treinamentos</div>
                <div>
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Fevereiro 2011 - Dezembro 2014</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">C# Básico e Avançado</h3>
                <div class="subheading mb-3">Impacta Treinamentos</div>
                <div>
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Fevereiro 2011 - Dezembro 2014</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Banco de Dados SQL Server Básico e Avançado</h3>
                <div class="subheading mb-3">Impacta Treinamentos</div>
                <div>
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Fevereiro 2011 - Dezembro 2014</span>
            </div>
        </div>
    </div>
</section>